.glowing-button {
  background-color: #004a7f;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% {
    background-color: #b25000;
    -webkit-box-shadow: 0 0 3px #b25000;
  }
  50% {
    background-color: #FFA500;
    -webkit-box-shadow: 0 0 40px #FFA500;
  }
  100% {
    background-color: #b25000;
    -webkit-box-shadow: 0 0 3px #b25000;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: #b25000;
    -moz-box-shadow: 0 0 3px #b25000;
  }
  50% {
    background-color: #FFA500;
    -moz-box-shadow: 0 0 40px #FFa500;
  }
  100% {
    background-color: #b25000;
    -moz-box-shadow: 0 0 3px #b25000;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: #b25000;
    box-shadow: 0 0 3px #b25000;
  }
  50% {
    background-color: #FFA500;
    box-shadow: 0 0 40px #FFA500;
  }
  100% {
    background-color: #b25000;
    box-shadow: 0 0 3px #b25000;
  }
}

@keyframes glowing {
  0% {
    background-color: #b25000;
    box-shadow: 0 0 3px #b25000;
  }
  50% {
    background-color: #FFA500;
    box-shadow: 0 0 40px #FFA500;
  }
  100% {
    background-color: #b25000;
    box-shadow: 0 0 3px #b25000;
  }
}
